@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-main: white;
  --bg-secondary: rgb(217, 217, 217);
  --bg-third: rgb(242, 242, 242);
  --font-main: #141e46;
  --font-second: #c70039;
  --font-third: #ff6969;
  --font-shades: #fff5e0;
}

body {
  background-color: var(--bg-secondary);
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

nav > h1 {
  margin-bottom: 8px;
  font-size: 32px;
}

nav > p {
  margin: 0;
}

main {
  width: 50%;
  margin: 0 auto;
}

main > .book-input {
  background-color: var(--bg-main);
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main > .book-input > h2 {
  margin-top: 0;
}

main > .book-input > .book-input-details > .input-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

main > .book-list {
  margin-top: 48px;
  background-color: var(--bg-main);
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 32px;
}

main > .book-list > h2 {
  margin-top: 0;
}

main > .book-list > #library > .book-container {
  margin-top: 16px;
}

main > .book-list > #library > .book-container > h3 {
  margin: 0 0 8px 0;
}

main > .book-list > #library > .book-container > p {
  margin: 0;
}
